@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,800;1,800&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
    --color-background: rgba(1, 4, 9);
    --color-foreground: rgba(13, 17, 23);
    --color-clickable: rgba(33, 40, 48);
    --color-border: rgba(61, 68, 77);
    --color-focus: rgba(18, 29, 47);
    --color-link: rgba(40, 131, 248);
    --color-font: rgba(240, 246, 252);
    --color-subtitle: rgba(145, 152, 161);
    --color-success: rgba(35, 134, 54);
}

body {
    @apply: bg-background;
}

h1,
h2,
p,
button,
a,
input {
    font-family: "Funnel Sans", sans-serif;
    /* margin-block: 0; */
    @apply text-font;
}

a {
    text-decoration: underline;
    @apply text-link;
}

a,
button {
    @apply cursor-pointer brightness-100 hover:brightness-125 active:brightness-90 transition duration-200;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-lg font-bold;
}

.subtitle {
    @apply text-subtitle;
}

.code {
    font-family: "Google Sans Code", monospace;
}
