# Copy this file and rename with .local / .development / .production suffixes, and fill the following:

GITHUB_CLIENT_ID=0 # Your OAUTH app ID
GITHUB_CLIENT_SECRET=0 # Your OAUTH secret
BETTER_AUTH_SECRET=0 # Generate a secret using 'npm run generate'
BETTER_AUTH_URL=http://localhost:3000 # Change this to your base URL
NEXT_PUBLIC_MAX_DEPTH=5 # Change this to the max lookup depth for one direction of BFS